## Housing Case Study
Problem Statement:

Consider a real estate company that has a dataset containing the prices of properties in the Delhi region. It wishes to use the data to optimise the sale prices of the properties based on important factors such as area, bedrooms, parking, etc.

Essentially, the company wants â€”


- To identify the variables affecting house prices, e.g. area, number of rooms, bathrooms, etc.

- To create a linear model that quantitatively relates house prices with variables such as number of rooms, area, number of bathrooms, etc.

- To know the accuracy of the model, i.e. how well these variables can predict house prices.

### Importing and Understanding Data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Importing Housing.csv
housing = pd.read_csv('Housing.csv')

### Data Exploration

In [3]:
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
price               545 non-null int64
area                545 non-null int64
bedrooms            545 non-null int64
bathrooms           545 non-null int64
stories             545 non-null int64
mainroad            545 non-null object
guestroom           545 non-null object
basement            545 non-null object
hotwaterheating     545 non-null object
airconditioning     545 non-null object
parking             545 non-null int64
prefarea            545 non-null object
furnishingstatus    545 non-null object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

### Data Preparation
- You can see that your dataset has many columns with values as 'Yes' or 'No'.

- We need to convert them to 1s and 0s, where 1 is a 'Yes' and 0 is a 'No'.

In [5]:
# Converting Yes to 1 and No to 0
housing['mainroad'] = housing['mainroad'].map({'yes': 1, 'no': 0})
housing['guestroom'] = housing['guestroom'].map({'yes': 1, 'no': 0})
housing['basement'] = housing['basement'].map({'yes': 1, 'no': 0})
housing['hotwaterheating'] = housing['hotwaterheating'].map({'yes': 1, 'no': 0})
housing['airconditioning'] = housing['airconditioning'].map({'yes': 1, 'no': 0})
housing['prefarea'] = housing['prefarea'].map({'yes': 1, 'no': 0})

In [6]:
# Now let's see the head
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished

The variable 'furnishingstatus' had three levels. We need to convert it to integer.

In [7]:
# Creating a dummy variable for 'furnishingstatus'
status = pd.get_dummies(housing['furnishingstatus'])

In [8]:
# The result has created three variables that are not needed.
status.head()

   furnished  semi-furnished  unfurnished
0          1               0            0
1          1               0            0
2          0               1            0
3          1               0            0
4          1               0            0

In [9]:
print(type(status))

<class 'pandas.core.frame.DataFrame'>

Now we have 3 extra columns but we can do our work from any 2 columns because the sum of three columns will always be 1

In [10]:
# we don't need 3 columns.
# we can use drop_first = True to drop the first column from status df.
status = pd.get_dummies(housing['furnishingstatus'],drop_first=True)

In [11]:
status.head()

   semi-furnished  unfurnished
0               0            0
1               0            0
2               1            0
3               0            0
4               0            0

In [12]:
#Adding the results to the master dataframe
housing = pd.concat([housing,status],axis=1)

In [13]:
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,semi-furnished,unfurnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished,0,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished,0,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished,0,0

In [14]:
# Dropping furnishingstatus as we have created the dummies for it
housing.drop(['furnishingstatus'],axis=1,inplace=True)

In [15]:
# Now let's see the head of our dataframe.
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0,0

### Creating a new variable to add more functionality

In [16]:
# Let us create the new metric and assign it to "areaperbedroom"
housing['areaperbedroom'] = housing['area']/housing['bedrooms']

In [17]:
# Metric:bathrooms per bedroom
housing['bbratio'] = housing['bathrooms']/housing['bedrooms']

In [18]:
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,areaperbedroom,bbratio
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0,0,1855.0,0.500000
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0,0,2240.0,1.000000
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1,0,3320.0,0.666667
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0,0,1875.0,0.500000
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0,0,1855.0,0.250000

### Rescaling the features
It is extremely important to rescale the variables so that they have a comparable scale. 
There are two cool ways of rescaling 
1. Normalisation (min-max scaling) and 
2. standardisation (mean-o, sigma-1) 
Let's try normalisation

In [19]:
#defining a normalisation function 
def normalize (x): 
    return ( (x-np.min(x))/ (max(x) - min(x)))  # the formula for normalisation is (X-min/max-min)
                                            
                                              
# applying normalize ( ) to all columns 
housing = housing.apply(normalize)

In [20]:
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,areaperbedroom,bbratio
0,1.000000,0.396564,0.6,0.333333,0.666667,1.0,0.0,0.0,0.0,1.0,0.666667,1.0,0.0,0.0,0.237016,0.4
1,0.909091,0.502405,0.6,1.000000,1.000000,1.0,0.0,0.0,0.0,1.0,1.000000,0.0,0.0,0.0,0.298923,1.0
2,0.909091,0.571134,0.4,0.333333,0.333333,1.0,0.0,1.0,0.0,0.0,0.666667,1.0,1.0,0.0,0.472584,0.6
3,0.906061,0.402062,0.6,0.333333,0.333333,1.0,0.0,1.0,0.0,1.0,1.000000,1.0,0.0,0.0,0.240232,0.4
4,0.836364,0.396564,0.6,0.000000,0.333333,1.0,1.0,1.0,0.0,1.0,0.666667,0.0,0.0,0.0,0.237016,0.1

### Splitting Data into Training and Testing sets

In [21]:
housing.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'semi-furnished', 'unfurnished',
       'areaperbedroom', 'bbratio'],
      dtype='object')

In [22]:
# Putting feature variable to X
X = housing[['area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'semi-furnished', 'unfurnished',
       'areaperbedroom', 'bbratio']]

# Putting response variable to y
y = housing['price']

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, train_size = 0.7, random_state=100)

### Building a linear model

In [24]:
import statsmodels.api as sm          # Importing statsmodels
X_train = sm.add_constant(X_train)    # Adding a constant column to our dataframe
# create a first fitted model
lm_1 = sm.OLS(y_train,X_train).fit()

C:\Users\annup\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [25]:
#Let's see the summary of our first linear model
print(lm_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.686
Model:                            OLS   Adj. R-squared:                  0.673
Method:                 Least Squares   F-statistic:                     53.12
Date:                Thu, 10 Oct 2019   Prob (F-statistic):           4.56e-82
Time:                        23:20:43   Log-Likelihood:                 384.40
No. Observations:                 381   AIC:                            -736.8
Df Residuals:                     365   BIC:                            -673.7
Df Model:                          15
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               0.0603      0.059      1.029      0.304      -0.055       0.176
area                0.5745      0.134      4.285      0.000       0.311       0.838
bedrooms           -0.0587      0.093     -0.632      0.528      -0.241       0.124
bathrooms           0.2336      0.126      1.849      0.065      -0.015       0.482
stories             0.1018      0.019      5.265      0.000       0.064       0.140
mainroad            0.0511      0.014      3.580      0.000       0.023       0.079
guestroom           0.0260      0.014      1.887      0.060      -0.001       0.053
basement            0.0208      0.011      1.877      0.061      -0.001       0.043
hotwaterheating     0.0875      0.022      4.048      0.000       0.045       0.130
airconditioning     0.0663      0.011      5.868      0.000       0.044       0.088
parking             0.0562      0.018      3.104      0.002       0.021       0.092
prefarea            0.0566      0.012      4.772      0.000       0.033       0.080
semi-furnished     -0.0008      0.012     -0.068      0.946      -0.024       0.022
unfurnished        -0.0323      0.013     -2.550      0.011      -0.057      -0.007
areaperbedroom     -0.3135      0.147     -2.139      0.033      -0.602      -0.025
bbratio             0.0439      0.104      0.421      0.674      -0.161       0.249
==============================================================================
Omnibus:                       87.283   Durbin-Watson:                   2.087
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              276.328
Skew:                           1.023   Prob(JB):                     9.91e-61
Kurtosis:                       6.636   Cond. No.                         82.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Checking VIF

In [26]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [27]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif["features"] = X.columns

In [28]:
vif.round(1)

    VIF Factor         features
0         57.5             area
1         10.7         bedrooms
2         11.1        bathrooms
3          2.8          stories
4          7.9         mainroad
5          1.5        guestroom
6          2.0         basement
7          1.1  hotwaterheating
8          1.8  airconditioning
9          2.0          parking
10         1.5         prefarea
11         2.6   semi-furnished
12         2.4      unfurnished
13        68.7   areaperbedroom
14        29.2          bbratio

In [29]:
# UDF for calculating vif value
def vif_cal(input_data, dependent_col):
    vif_df = pd.DataFrame( columns = ['Var', 'Vif'])
    x_vars=input_data.drop([dependent_col], axis=1)
    xvar_names=x_vars.columns
    for i in range(0,xvar_names.shape[0]):
        y=x_vars[xvar_names[i]] 
        x=x_vars[xvar_names.drop(xvar_names[i])]
        rsq=sm.OLS(y,x).fit().rsquared  
        vif=round(1/(1-rsq),2)
        vif_df.loc[i] = [xvar_names[i], vif]
    return vif_df.sort_values(by = 'Vif', axis=0, ascending=False, inplace=False)

In [30]:
# Calculating Vif value|
vif_cal(input_data=housing, dependent_col="price")

                Var    Vif
13   areaperbedroom  68.71
0              area  57.52
14          bbratio  29.25
2         bathrooms  11.11
1          bedrooms  10.68
4          mainroad   7.91
3           stories   2.81
11   semi-furnished   2.61
12      unfurnished   2.38
6          basement   2.05
9           parking   2.01
8   airconditioning   1.77
10         prefarea   1.51
5         guestroom   1.49
7   hotwaterheating   1.10

### Dropping the variable and Updating the model

# Dropping highly correlated variables and insignificant variables
X_train = X_train.drop('bbratio', 1)

In [31]:
# Create a second fitted model
lm_2 = sm.OLS(y_train,X_train).fit()

In [32]:
#Let's see the summary of our second linear model
print(lm_2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.686
Model:                            OLS   Adj. R-squared:                  0.673
Method:                 Least Squares   F-statistic:                     53.12
Date:                Thu, 10 Oct 2019   Prob (F-statistic):           4.56e-82
Time:                        23:20:44   Log-Likelihood:                 384.40
No. Observations:                 381   AIC:                            -736.8
Df Residuals:                     365   BIC:                            -673.7
Df Model:                          15
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               0.0603      0.059      1.029      0.304      -0.055       0.176
area                0.5745      0.134      4.285      0.000       0.311       0.838
bedrooms           -0.0587      0.093     -0.632      0.528      -0.241       0.124
bathrooms           0.2336      0.126      1.849      0.065      -0.015       0.482
stories             0.1018      0.019      5.265      0.000       0.064       0.140
mainroad            0.0511      0.014      3.580      0.000       0.023       0.079
guestroom           0.0260      0.014      1.887      0.060      -0.001       0.053
basement            0.0208      0.011      1.877      0.061      -0.001       0.043
hotwaterheating     0.0875      0.022      4.048      0.000       0.045       0.130
airconditioning     0.0663      0.011      5.868      0.000       0.044       0.088
parking             0.0562      0.018      3.104      0.002       0.021       0.092
prefarea            0.0566      0.012      4.772      0.000       0.033       0.080
semi-furnished     -0.0008      0.012     -0.068      0.946      -0.024       0.022
unfurnished        -0.0323      0.013     -2.550      0.011      -0.057      -0.007
areaperbedroom     -0.3135      0.147     -2.139      0.033      -0.602      -0.025
bbratio             0.0439      0.104      0.421      0.674      -0.161       0.249
==============================================================================
Omnibus:                       87.283   Durbin-Watson:                   2.087
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              276.328
Skew:                           1.023   Prob(JB):                     9.91e-61
Kurtosis:                       6.636   Cond. No.                         82.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Dropping the Variable and Updating the model

In [33]:
# Calculating updated vif value
vif_cal(input_data=housing.drop(["bbratio"], axis=1), dependent_col="price")

                Var    Vif
0              area  20.72
13   areaperbedroom  18.44
1          bedrooms  10.03
4          mainroad   7.46
3           stories   2.78
11   semi-furnished   2.48
12      unfurnished   2.20
6          basement   2.03
9           parking   2.00
8   airconditioning   1.77
2         bathrooms   1.71
10         prefarea   1.51
5         guestroom   1.48
7   hotwaterheating   1.09

In [34]:
# Dropping highly correlated variables and insignificant variables
X_train = X_train.drop('bedrooms', 1)

In [35]:
# Create a third fitted model
lm_3 = sm.OLS(y_train,X_train).fit()

In [36]:
#Let's see the summary of our third linear model
print(lm_3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.685
Model:                            OLS   Adj. R-squared:                  0.673
Method:                 Least Squares   F-statistic:                     56.98
Date:                Thu, 10 Oct 2019   Prob (F-statistic):           7.20e-83
Time:                        23:20:45   Log-Likelihood:                 384.19
No. Observations:                 381   AIC:                            -738.4
Df Residuals:                     366   BIC:                            -679.2
Df Model:                          14
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               0.0263      0.023      1.131      0.259      -0.019       0.072
area                0.5548      0.130      4.258      0.000       0.299       0.811
bathrooms           0.1814      0.096      1.899      0.058      -0.006       0.369
stories             0.1007      0.019      5.234      0.000       0.063       0.139
mainroad            0.0517      0.014      3.625      0.000       0.024       0.080
guestroom           0.0262      0.014      1.905      0.058      -0.001       0.053
basement            0.0203      0.011      1.836      0.067      -0.001       0.042
hotwaterheating     0.0879      0.022      4.070      0.000       0.045       0.130
airconditioning     0.0665      0.011      5.894      0.000       0.044       0.089
parking             0.0564      0.018      3.119      0.002       0.021       0.092
prefarea            0.0574      0.012      4.879      0.000       0.034       0.081
semi-furnished     -0.0003      0.012     -0.029      0.977      -0.023       0.023
unfurnished        -0.0319      0.013     -2.523      0.012      -0.057      -0.007
areaperbedroom     -0.2905      0.142     -2.048      0.041      -0.569      -0.012
bbratio             0.0872      0.078      1.114      0.266      -0.067       0.241
==============================================================================
Omnibus:                       86.388   Durbin-Watson:                   2.088
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              270.271
Skew:                           1.017   Prob(JB):                     2.05e-59
Kurtosis:                       6.590   Cond. No.                         79.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [37]:
# Calculating Vif value
vif_cal(input_data=housing.drop(["bedrooms","bbratio"], axis=1), dependent_col="price")

                Var    Vif
0              area  14.98
12   areaperbedroom  13.88
3          mainroad   6.10
2           stories   2.56
10   semi-furnished   2.04
8           parking   2.00
5          basement   1.90
7   airconditioning   1.76
11      unfurnished   1.72
1         bathrooms   1.69
9          prefarea   1.50
4         guestroom   1.48
6   hotwaterheating   1.09

### Dropping the variable and updating the model

In [38]:
# # Dropping highly correlated variables and insignificant variables
X_train = X_train.drop('areaperbedroom', 1)

In [39]:
# Create a fourth fitted model
lm_4 = sm.OLS(y_train,X_train).fit()

In [40]:
#Let's see the summary of our fourth linear model
print(lm_4.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.682
Model:                            OLS   Adj. R-squared:                  0.671
Method:                 Least Squares   F-statistic:                     60.51
Date:                Thu, 10 Oct 2019   Prob (F-statistic):           7.07e-83
Time:                        23:20:45   Log-Likelihood:                 382.02
No. Observations:                 381   AIC:                            -736.0
Df Residuals:                     367   BIC:                            -680.8
Df Model:                          13
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               0.0478      0.021      2.290      0.023       0.007       0.089
area                0.2998      0.039      7.783      0.000       0.224       0.376
bathrooms           0.3488      0.050      7.022      0.000       0.251       0.446
stories             0.1079      0.019      5.683      0.000       0.071       0.145
mainroad            0.0502      0.014      3.512      0.001       0.022       0.078
guestroom           0.0306      0.014      2.250      0.025       0.004       0.057
basement            0.0217      0.011      1.958      0.051    -8.8e-05       0.043
hotwaterheating     0.0838      0.022      3.880      0.000       0.041       0.126
airconditioning     0.0668      0.011      5.893      0.000       0.044       0.089
parking             0.0603      0.018      3.343      0.001       0.025       0.096
prefarea            0.0586      0.012      4.967      0.000       0.035       0.082
semi-furnished      0.0006      0.012      0.048      0.962      -0.023       0.024
unfurnished        -0.0312      0.013     -2.455      0.015      -0.056      -0.006
bbratio            -0.0538      0.038     -1.434      0.152      -0.128       0.020
==============================================================================
Omnibus:                       94.235   Durbin-Watson:                   2.090
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              310.298
Skew:                           1.093   Prob(JB):                     4.17e-68
Kurtosis:                       6.843   Cond. No.                         21.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [41]:
# Calculating Vif value
vif_cal(input_data=housing.drop(["bedrooms","bbratio","areaperbedroom"], axis=1), dependent_col="price")

                Var   Vif
3          mainroad  5.51
0              area  4.43
2           stories  2.32
10   semi-furnished  2.00
8           parking  1.99
5          basement  1.90
7   airconditioning  1.76
11      unfurnished  1.65
1         bathrooms  1.62
9          prefarea  1.50
4         guestroom  1.47
6   hotwaterheating  1.09

### Dropping the variable and updating the model

In [42]:
# # Dropping highly correlated variables and insignificant variables
X_train = X_train.drop('semi-furnished', 1)

In [43]:
# Create a fifth fitted model
lm_5 = sm.OLS(y_train,X_train).fit()

In [44]:
#Let's see the summary of our fifth linear model
print(lm_5.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.682
Model:                            OLS   Adj. R-squared:                  0.672
Method:                 Least Squares   F-statistic:                     65.73
Date:                Thu, 10 Oct 2019   Prob (F-statistic):           8.53e-84
Time:                        23:20:46   Log-Likelihood:                 382.02
No. Observations:                 381   AIC:                            -738.0
Df Residuals:                     368   BIC:                            -686.8
Df Model:                          12
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               0.0482      0.019      2.577      0.010       0.011       0.085
area                0.2996      0.038      7.836      0.000       0.224       0.375
bathrooms           0.3489      0.050      7.036      0.000       0.251       0.446
stories             0.1079      0.019      5.693      0.000       0.071       0.145
mainroad            0.0502      0.014      3.517      0.000       0.022       0.078
guestroom           0.0307      0.014      2.255      0.025       0.004       0.057
basement            0.0217      0.011      1.962      0.051   -5.32e-05       0.043
hotwaterheating     0.0838      0.022      3.887      0.000       0.041       0.126
airconditioning     0.0667      0.011      5.919      0.000       0.045       0.089
parking             0.0603      0.018      3.349      0.001       0.025       0.096
prefarea            0.0586      0.012      4.973      0.000       0.035       0.082
unfurnished        -0.0315      0.010     -3.092      0.002      -0.052      -0.011
bbratio            -0.0538      0.037     -1.437      0.152      -0.127       0.020
==============================================================================
Omnibus:                       94.136   Durbin-Watson:                   2.089
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              309.605
Skew:                           1.092   Prob(JB):                     5.89e-68
Kurtosis:                       6.838   Cond. No.                         20.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [45]:
# Calculating Vif value
vif_cal(input_data=housing.drop(["bedrooms","bbratio","areaperbedroom","semi-furnished"], axis=1), dependent_col="price")

                Var   Vif
3          mainroad  4.85
0              area  4.36
2           stories  2.30
8           parking  1.99
5          basement  1.86
7   airconditioning  1.75
1         bathrooms  1.62
9          prefarea  1.49
4         guestroom  1.47
10      unfurnished  1.34
6   hotwaterheating  1.08

### Dropping the variable and updating the model

In [46]:
# # Dropping highly correlated variables and insignificant variables
X_train = X_train.drop('basement', 1)

In [47]:
# Create a sixth fitted model
lm_6 = sm.OLS(y_train,X_train).fit()

In [48]:
#Let's see the summary of our sixth linear model
print(lm_6.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.679
Model:                            OLS   Adj. R-squared:                  0.669
Method:                 Least Squares   F-statistic:                     70.81
Date:                Thu, 10 Oct 2019   Prob (F-statistic):           6.55e-84
Time:                        23:20:46   Log-Likelihood:                 380.04
No. Observations:                 381   AIC:                            -736.1
Df Residuals:                     369   BIC:                            -688.8
Df Model:                          11
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               0.0577      0.018      3.177      0.002       0.022       0.093
area                0.2980      0.038      7.767      0.000       0.223       0.374
bathrooms           0.3665      0.049      7.485      0.000       0.270       0.463
stories             0.0975      0.018      5.337      0.000       0.062       0.133
mainroad            0.0512      0.014      3.579      0.000       0.023       0.079
guestroom           0.0397      0.013      3.097      0.002       0.015       0.065
hotwaterheating     0.0844      0.022      3.899      0.000       0.042       0.127
airconditioning     0.0682      0.011      6.047      0.000       0.046       0.090
parking             0.0598      0.018      3.309      0.001       0.024       0.095
prefarea            0.0621      0.012      5.305      0.000       0.039       0.085
unfurnished        -0.0326      0.010     -3.190      0.002      -0.053      -0.013
bbratio            -0.0642      0.037     -1.724      0.086      -0.137       0.009
==============================================================================
Omnibus:                       93.233   Durbin-Watson:                   2.088
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              305.226
Skew:                           1.083   Prob(JB):                     5.26e-67
Kurtosis:                       6.812   Cond. No.                         19.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [49]:
# Calculating Vif value
vif_cal(input_data=housing.drop(["bedrooms","bbratio","areaperbedroom","semi-furnished","basement"], axis=1), dependent_col="price")

               Var   Vif
3         mainroad  4.58
0             area  4.36
2          stories  2.21
7          parking  1.99
6  airconditioning  1.75
1        bathrooms  1.59
8         prefarea  1.44
9      unfurnished  1.34
4        guestroom  1.29
5  hotwaterheating  1.08

### Making predictions using final model

#### Prediction with model 6

In [50]:
#Adding  constant variable to test dataframe
X_test_m6 = sm.add_constant(X_test)

In [51]:
# Creating X_test_m6 dataframe by dropping variables from X_test_m6
X_test_m6 = X_test_m6.drop(["bedrooms","bbratio","areaperbedroom","semi-furnished","basement"], axis=1)

In [52]:
# Making predictions
y_pred_m6 = lm_6.predict(X_test_m6)

ValueError: shapes (164,11) and (12,) not aligned: 11 (dim 1) != 12 (dim 0)

### Model Evaluation

In [ ]:
# Actual vs Predicted
c = [i for i in range(1,165,1)]
fig = plt.figure()
plt.plot(c,y_test, color="blue", linewidth=2.5, linestyle="-")     #Plotting Actual
plt.plot(c,y_pred_m6, color="red",  linewidth=2.5, linestyle="-")  #Plotting predicted
fig.suptitle('Actual and Predicted', fontsize=20)              # Plot heading 
plt.xlabel('Index', fontsize=18)                               # X-label
plt.ylabel('Housing Price', fontsize=16)                       # Y-label

In [ ]:
# Plotting y_test and y_pred to understand the spread.
fig = plt.figure()
plt.scatter(y_test,y_pred_m6)
fig.suptitle('y_test vs y_pred', fontsize=20)              # Plot heading 
plt.xlabel('y_test', fontsize=18)                          # X-label
plt.ylabel('y_pred', fontsize=16)                          # Y-label

In [ ]:
# Error terms
fig = plt.figure()
c = [i for i in range(1,165,1)]
plt.plot(c,y_test-y_pred_m6, color="blue", linewidth=2.5, linestyle="-")
fig.suptitle('Error Terms', fontsize=20)              # Plot heading 
plt.xlabel('Index', fontsize=18)                      # X-label
plt.ylabel('ytest-ypred', fontsize=16)                # Y-label

In [ ]:
# Plotting the error terms to understand the distribution.
fig = plt.figure()
sns.distplot((y_test-y_pred_m6),bins=50)
fig.suptitle('Error Terms', fontsize=20)                  # Plot heading 
plt.xlabel('y_test-y_pred', fontsize=18)                  # X-label
plt.ylabel('Index', fontsize=16)                          # Y-label

In [ ]:
import numpy as np
from sklearn import metrics
print('RMSE :', np.sqrt(metrics.mean_squared_error(y_test, y_pred_m6)))
print('R^2:',metrics.r2_score(y_test,y_pred_m6))